

canvas {
  padding: 0;
  margin: auto;
  display: block;
  width: 800px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}


.btn-section {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.display-section {
  width: 100%;
  text-align: center;
  color: white;
}
.action {
  margin-top: 10px;
  margin-bottom: 10px;
}
.output {
  max-width: 500px;
  padding: 20px;
  border-radius: 10px;
  border: 1px dotted lightblue;
  display: inline-block;
}